h2 {
    font-family: 'Architects Daughter', cursive;
    font-size: 105px;
    color: whitesmoke;
    font-weight: bolder;
}

.container {
    width: 1000px;
    height: 100px;
    padding: 0px;
    margin-bottom: 30px;    
}

.row {
    box-shadow: 9px 12px 3px rgba(0, 0, 0, 0.2);
}

.jumbotron {
    background-image: url("https://media.giphy.com/media/1kTUjHlD4SVf2lut1u/giphy.gif") !important;
    background-color: white;
    background-size: 998px 400px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 225px;    
        
}

.left {
    /* background-color: rgb(177, 35, 163); */
    background-image: url("../images/1216491.jpg");
    background-size: 250px 500px;
    background-repeat: no-repeat;
    height: 500px;
    color: whitesmoke;
    font-family: 'Verdana', cursive;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 16px;
    text-align: right;
}

.right {
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.submit-btn {
    border-radius: 5px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: rgb(145, 140, 140);
    border: 1px solid black;
    font-weight: bold;
    letter-spacing: 2px;
}

.form-control {
    font-weight: bold;
    letter-spacing: 2px;
}

.drop-down {
    float: right;
    margin-left: 10px;
}

.card {
    margin-bottom: 20px;    
}

.vibe{
    margin-top: 20px;
}
.card-title{
    margin-top: 10px;
    text-align: center;
}

.map {
    height: 400px;
    width: 100%;
}

body {
    background-color: rgb(58, 128, 78);
    background-image: url("../images/bg.jpg");
    background-size: auto;
}
.btn-primary{
    margin-top: 20px;
}

.card-text{
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

img{
    padding: 15px;
    margin-left: 19%;
}
