.container{ 
    width: 1000px;
    height: 100px;
    padding: 0px;
}
.row{
    box-shadow: 9px 12px 3px rgba(0, 0, 0, 0.2);
}

.buttonArea{
    margin-top: 35px;
}

.jumbotron{
    background-image: url("../images/concert-crowd.jpg");
    background-size: contain;
    text-align: center;
    height: 250px;
    
}

h2{
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
}

.left{
    background-color: rgb(109, 119, 148);
    height: 500px;
}
.leftForm{
    margin-top: 25px;
}
.right{
    background-image: url("../images/polygon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.submit-btn{
    border-radius: 5px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: rgb(145, 140, 140);
    border: 1px solid black;
}

.card{
    margin-top: 30px;
}