h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
}

.container {
    width: 1000px;
    height: 100px;
    padding: 0px;
    margin-bottom: 30px;
}

.row {
    box-shadow: 9px 12px 3px rgba(0, 0, 0, 0.2);
}

.jumbotron {
    background-image: url("../images/concert-crowd.jpg");
    background-size: contain;
    text-align: center;
    height: 250px;
}

.left {
    background-color: rgb(0, 183, 255);
    height: 500px;
}

.right {
    background-image: url("../images/polygon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.submit-btn {
    border-radius: 5px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: rgb(145, 140, 140);
    border: 1px solid black;
}

.drop-down {
    float: right;
    margin-left: 10px;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.vibe{
    margin-top: 20px;
}
.card-title{
    margin-top: 10px;
=======

.map {
    height: 400px;
    width: 100%;

}